<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Examenes Profesor </title>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/examProf.css">
        <style type="text/css"></style>
    </head>
    
    <body>
        <div>
            <ul>
                <li><a href="/examenesProfesor">Examenes</a></li>
                <li><a href="/listaAlumnos">Alumnos</a></li>
                <li style="float:right"><a class="active" href="/login">Cerrar sesión</a></li>
            </ul>
        </div>
        <div>
            <table summary="Examenes">
                <thead>
                    <tr>
                        <th colspan="3" scope="col">EVALUACIONES</th>
                    </tr>
                </thead>
                <tbody>
                {{#examenes}}
                    <tr>
                        <td scope="row">{{nombre}}</td>
                        <td scope="row">De {{fechaInicio}} a {{fechaFin}}</td>
                        <td scope="row"><a href="examen/{{folioExamen}}">Ingresar al examen</a></td>
                    </tr>
                {{/examenes}}
                </tbody>
            </table>
            <div>
                <button type="button" class="boton_personalizado"><a href="/crearExamen">Crear nueva evaluación</a></button>
            </div>    
        </div>
    </body>
</html>