<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/regisAlum.css">
        <title> Crear Pregunta </title>
    </head>
    <body>
        <div>
            <ul>
                <li><a href="/examenesProfesor">Examenes</a></li>
                <li><a href="/listaAlumnos">Alumnos</a></li>
                <li style="float:right"><a class="active" href="/login">Cerrar sesión</a></li>
            </ul>
        </div>
        <section class="form-register">
            <div class="titulo">Crear Pregunta</div>
            <form method="post" action="/registrarPregunta/{{folioExamen}}">
                <input class="controls" type="text" name="descripcion" placeholder="Pregunta">
                <select class="controls" name="tipo" placeholder="Tipo pregunta">
                    <option value="multiple">Opcion multiple</option>
                </select>
                
                <button type="submit" title="Ingresar" name="Ingresar">Registrar</button>
            </form>
        </section>
    </body>
</html>