<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/examProf.css">
        <title> Examen </title>
    </head>
    <body>
        <div>
            <ul>
                <li><a href="/examenesAlumnos">Examenes</a></li>
                <li><a href="/listaAlumnos">Alumnos</a></li>
                <li style="float:right"><a class="active" href="/login">Cerrar sesión</a></li>
            </ul>
        </div>
        <div class="seccion-examen">
            <div class="data-resultado">
                <div><strong>Calificacion optenida {{calificacion}}</strong></div>
            </div>
        </div>
        
    </body>
</html>